<template>
	<div>
		<div v-if="isSuperAdmin">
			<button class="button is-small is-danger is-outlined" @click="sponsorHome" v-if="! sponsored_home">SH</button>
			<button class="button is-small is-danger is-outlined" @click="unSponsorHome" v-else>unSH</button>
		</div>
		<div v-if="isAdmin">
			<button class="button is-small is-danger is-outlined" @click="featureModel" v-if="! featured_content">
				FS
			</button>
			<button class="button is-small is-danger is-outlined" @click="unfeatureModel" v-else>unFS</button>

			<button class="button is-small is-danger is-outlined" @click="featureHome" v-if="! featured_home">FH</button>
			<button class="button is-small is-danger is-outlined" @click="unfeatureHome" v-else>unFH</button>
			<button class="button is-danger is-outlined is-small" @click="block" v-if="! blocked">Block</button>
			<button class="button is-danger is-outlined is-small" @click="unblock" v-else>Unblock</button>

			<button class="button is-danger is-outlined is-small" @click="lock" v-if="! locked">Lock</button>
			<button class="button is-danger is-outlined is-small" @click="unlock" v-else>Unlock</button>

			<button class="button is-danger is-outlined is-small" @click="pin" v-if="! pinned">Pin</button>
			<button class="button is-danger is-outlined is-small" @click="unpin" v-else>Unpin</button>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['model', 'routename', 'featured'], 

		data() {
			return {
				locked: this.model.locked,
				id: this.model.id, 
				pinned: this.model.pinned,
				blocked: this.model.blocked, 
				featured_content: this.featured, 
				featured_home: this.model.featured_home, 
				sponsored_home: this.model.sponsored_home
			}
		}, 

		methods: {
			lock() {
				axios.post('/locked-' + this.routename + this.id)
					.then(() => {
						this.locked = true;
					})
					.catch(error => {
                    if(error.response) {
                        flash('Error. Please reload the page.', 'danger');
                    } else if (error.request) {
                        flash('Network error. Please try again.', 'danger');
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                    }
                });

			}, 
			unlock() {
				axios.delete('/locked-' + this.routename + this.id)
				.then(() => {
					this.locked = false;
				})
				.catch(error => {
                    if(error.response) {
                        flash('Error. Please reload the page.', 'danger');
                    } else if (error.request) {
                        flash('Network error. Please try again.', 'danger');
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                    }
                });	
			}, 
			block() {
				axios.post('/blocked-' + this.routename + this.id)
					.then(() => {
						this.blocked = true;
					})
					.catch(error => {
                    if(error.response) {
                        flash('Error. Please reload the page.', 'danger');
                    } else if (error.request) {
                        flash('Network error. Please try again.', 'danger');
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                    }
                });
			}, 
			unblock() {
				axios.delete('/blocked-' + this.routename + this.id)
					.then(() => {
						this.blocked = false;
					})
					.catch(error => {
                    if(error.response) {
                        flash('Error. Please reload the page.', 'danger');
                    } else if (error.request) {
                        flash('Network error. Please try again.', 'danger');
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                    }
                });
			}, 
			pin() {
				axios.post('/pinned-' + this.routename + this.id)
					.then(() => {
						this.pinned = true;
					})
					.catch(error => {
                    if(error.response) {
                        flash('Error. Please reload the page.', 'danger');
                    } else if (error.request) {
                        flash('Network error. Please try again.', 'danger');
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                    }
                });
			}, 
			unpin() {
				axios.delete('/pinned-' + this.routename + this.id)
					.then(() => {
						this.pinned = false;
					})
					.catch(error => {
                    if(error.response) {
                        flash('Error. Please reload the page.', 'danger');
                    } else if (error.request) {
                        flash('Network error. Please try again.', 'danger');
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                    }
                });
			}, 

			featureModel() {
				axios.post('/featured-' + this.routename + this.id)
					.then(() => {
						this.featured_content = true;
					})
					.catch(error => {
                    if(error.response) {
                        flash('Error. Please reload the page.', 'danger');
                    } else if (error.request) {
                        flash('Network error. Please try again.', 'danger');
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                    }
                });
			}, 
			unfeatureModel() {
				axios.delete('/featured-' + this.routename + this.id)
					.then(() => {
						this.featured_content = false;
					})
					.catch(error => {
                    if(error.response) {
                        flash('Error. Please reload the page.', 'danger');
                    } else if (error.request) {
                        flash('Network error. Please try again.', 'danger');
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                    }
                });
			},

			featureHome() {
				axios.post('/featured-home-' + this.routename + this.id)
					.then(() => {
						this.featured_home = true;
					})
					.catch(error => {
                    if(error.response) {
                        flash('Error. Please reload the page.', 'danger');
                    } else if (error.request) {
                        flash('Network error. Please try again.', 'danger');
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                    }
                });
			}, 
			unfeatureHome() {
				axios.delete('/featured-home-' + this.routename + this.id)
					.then(() => {
						this.featured_home = false;
					})
					.catch(error => {
                    if(error.response) {
                        flash('Error. Please reload the page.', 'danger');
                    } else if (error.request) {
                        flash('Network error. Please try again.', 'danger');
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                    }
                });
			},

			sponsorHome() {
				axios.post('/sponsored-home-' + this.routename + this.id)
					.then(() => {
						this.sponsored_home = true;
					})
					.catch(error => {
                    if(error.response) {
                        flash('Error. Please reload the page.', 'danger');
                    } else if (error.request) {
                        flash('Network error. Please try again.', 'danger');
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                    }
                });
			}, 
			unSponsorHome() {
				axios.delete('/sponsored-home-' + this.routename + this.id)
					.then(() => {
						this.sponsored_home = false;
					})
					.catch(error => {
                    if(error.response) {
                        flash('Error. Please reload the page.', 'danger');
                    } else if (error.request) {
                        flash('Network error. Please try again.', 'danger');
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                    }
                });
			},

		}
	}
</script>