<template>
	<div>
		<p class="is-size-5 has-border-bottom has-text-centered" v-if="answers.length">Answers</p>
		<div v-for="(answer, index) in answers" :key="answer.id">
			<answer :answerdata="answer" @deleted="remove(index)"></answer>
		</div>

		<paginator :dataSet="dataSet" @updated="fetch"></paginator>

		<new-answer :questionpath="questionpath" :question="question" @created="add"></new-answer>
	</div>
</template>

<script>
	import Answer from './Answer';
	import NewAnswer from './NewAnswer';

	export default {
		components : {Answer, NewAnswer},
		props: ['questionpath', 'question'],

		data() {
			return {
				dataSet : false,
				answers : []
			}
		},

		created() {
			this.fetch();
		}, 

		methods: {
			fetch(page) {
				axios.get(this.url(page))
					.then(this.refresh)
					.catch(error => {
                        if(error.response) {
                            flash('Error. Please reload the page.', 'danger');
                        } else if (error.request) {
                            flash('Network error. Please try again.', 'danger');
                        } else {
                            flash('An error has occured. Please try again.', 'danger');
                        }
                    });
			},

			url(page) {
				if (! page) {
					let query = location.search.match(/page=(\d+)/);

					page = query ? query[1] : 1;
				}
				return this.questionpath + '/answers?page=' + page;
			},

			refresh({data}) {
				this.dataSet = data;
				this.answers = data.data;

				window.scrollTo(0, 0);
			}, 

			add(answer) {
				this.answers.push(answer);

				this.$emit('added');

				flash('Answer has been added successfully');
			}, 
			remove(index) {
				this.answers.splice(index, 1);

				this.$emit('removed');

				flash('Answer has been deleted!');
			}
		}

	}
</script>