<template>
    <div>
        <figure class="image is-128x128 has-margin-auto">
            <a :href="avatar"><img :src="avatar" width="100" height="100"></a>
            <button @click="editing=true" v-if="! editing && authorize('owns', user, 'id')">
                <i class="fa fa-pencil-square-o"></i> Edit Picture
            </button>
        </figure>

        <div v-if="editing">
            <form @submit.prevent="persist" v-if="authorize('owns', user, 'id')" method="POST" enctype="multipart/form-data">
            	<input type="file" name="avatar" accept="image/*" @change="onChange"><br>
                <p class="is-size-7"><span class="is-red">NB: </span>Only jpg, jpeg, png, gif, svg images with max-size:2MB are allowed.</p>
            	<button type="submit" :class="submitingClasses">Upload</button>
            </form>

            <button :class="deletingClasses" @click="deleteAvatar">Delete</button>
            <button class="button is-small is-danger m-5" @click="editing=false">Cancel</button>

            <div v-if="errors" v-for="error in errors">
                <div v-for="err in error">
                    <p class="help is-danger" v-text="err"></p>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        props: ['user'],

        data() {
            return {
                editing: false,
                avatar: this.user.avatar, 
                fileData: '',
                errors : false, 
                isLoading: false, 
                isDeleting: false
            };
        },

        computed: {
            submitingClasses() {
                return [
                    'button is-link is-small m-5', 
                    this.isLoading ? 'is-loading' : ''
                ];
            }, 

            deletingClasses() {
                return [
                    'button is-small is-danger m-5', 
                    this.isDeleting ? 'is-loading' : ''
                ];
            }
        },

        methods: {
        	onChange(e) {
                if (! e.target.files.length) return;

                let file = e.target.files[0];

                let reader = new FileReader();

                reader.readAsDataURL(file);

                reader.onload = e => {
                    // let src = e.target.result;

                    // this.avatar = src;

                    this.fileData = file;
                };
            },

            persist() {

                let data = new FormData();

                data.append('avatar', this.fileData);

                this.isLoading = true;

                axios.post(`/api/users/${this.user.id}/avatar`, data)
                    .then(({data}) => {
                        this.avatar = data.avatar;
                        flash('Avatar uploaded!');
                        this.editing = false;
                        this.errors = false;
                        this.isLoading = false;
                    })
                    .catch(error => {
                    if(error.response) {
                        this.errors = error.response.data.errors;
                        this.isLoading = false;
                    } else if (error.request) {
                        flash('Network error. Avatar not updated try again.', 'danger');
                        this.isLoading = false;
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                        this.isLoading = false;
                    }
                });
            }, 

            deleteAvatar() {
                this.isDeleting = true;

                axios.delete('/api/users/' + this.user.id + '/avatar', )
                    .then(({data}) => {
                        this.avatar = data.avatar;
                        this.editing = false;
                        this.isDeleting = false;
                        flash('avatar deleted!');
                    });
            }
        }
    }
</script>
