<template>
	<div>
		<p class="is-size-5 has-border-bottom has-text-centered" v-if="comments.length">Comments</p>
		<div v-for="(comment, index) in comments" :key="comment.id">
			<comment :commentdata="comment" @deleted="remove(index)"></comment>
		</div>

		<paginator :dataSet="dataSet" @updated="fetch"></paginator>

		<new-comment :newspath="newspath" :news="news" @created="add"></new-comment>
	</div>
</template>

<script>
	import Comment from './Comment';
	import NewComment from './NewComment';

	export default {
		components : {Comment, NewComment},
		props: ['newspath', 'news'],

		data() {
			return {
				dataSet : false,
				comments : []
			}
		},

		created() {
			this.fetch();
		}, 

		methods: {
			fetch(page) {
				axios.get(this.url(page))
					.then(this.refresh)
					.catch(error => {
                        if(error.response) {
                            flash('Error. Please reload the page.', 'danger');
                        } else if (error.request) {
                            flash('Network error. Please try again.', 'danger');
                        } else {
                            flash('An error has occured. Please try again.', 'danger');
                        }
                    });
			},

			url(page) {
				if (! page) {
					let query = location.search.match(/page=(\d+)/);

					page = query ? query[1] : 1;
				}
				return this.newspath + '/comments?page=' + page;
			},

			refresh({data}) {
				this.dataSet = data;
				this.comments = data.data;

				window.scrollTo(0, 0);
			}, 

			add(comment) {
				this.comments.push(comment);

				this.$emit('added');

				flash('Comments has been added successfully');
			}, 
			remove(index) {
				this.comments.splice(index, 1);

				this.$emit('removed');

				flash('Comment has been deleted!');
			}
		}

	}
</script>