<template>
	<span>
		<a @click.prevent="toggleLike" class="button is-small is-outlined m-l-5 m-b-5">
			<i class="fa fa-thumbs-o-up is-size-6 m-r-5" :class="likesClass"></i> {{ likeType }}
		</a>
		<a @click.prevent="toggleDislike" class="button is-small is-outlined m-l-5 m-b-5">
			<i class="fa fa-thumbs-o-down is-size-6 m-r-5" :class="dislikesClass"></i> {{ dislikeType }}
		</a>
	</span>
</template>

<script>
	export default {
		props: ['model', 'modelRoute', 'likeType', 'dislikeType'], 

		data() {
			return {
				likesCount : this.model.likes_count,
				dislikesCount : this.model.dislikes_count,
				isLiked : this.model.isLiked,
				isDisliked : this.model.isDisliked, 
				id : this.model.id, 
				likeEndpoint : '', 
				dislikeEndpoint : ''
			}
		},

		watch: {
			likesCount() {
				this.$emit('liked', [this.likesCount, this.dislikesCount]);
			}, 
			dislikesCount() {
				this.$emit('liked', [this.likesCount, this.dislikesCount]);
			}
		},

		created() {
			this.modelName();
		},

		computed: {
			likesClass() {
				return this.isLiked ? 'has-text-link has-text-weight-bold' : '';
			},
			dislikesClass() {
				return this.isDisliked ? 'has-text-danger has-text-weight-bold' : '';
			}
			
		},

		methods: {
			modelName() {
				this.likeEndpoint = (this.modelRoute + this.id + '/likes');
				this.dislikeEndpoint = (this.modelRoute + this.id + '/dislikes');
			},

			toggleLike() {
				if(this.isLiked) {
					axios.delete(this.likeEndpoint);
					this.likesCount--;
					this.isLiked = false;
				} else {
					if(this.isDisliked) {
						axios.delete(this.dislikeEndpoint);
						this.dislikesCount--;
						this.isDisliked = false;
					}
					axios.post(this.likeEndpoint);
					this.likesCount++;
					this.isLiked = true;
				}
			}, 

			toggleDislike() {
				if(this.isDisliked) {
					axios.delete(this.dislikeEndpoint);
					this.dislikesCount--;
					this.isDisliked = false;
				} else {
					if(this.isLiked) {
						axios.delete(this.likeEndpoint);
						this.likesCount--;
						this.isLiked = false;
					}
					axios.post(this.dislikeEndpoint);
					this.dislikesCount++;
					this.isDisliked = true;
				}
			}
		}
	}
</script>