<template>
    
<div class="m-10">
    
    <form @submit.prevent="addComment" v-if="! locked && isConfirmed && ! banned">
        <p class="has-text-centered is-size-5 has-border-bottom">Comment on this News</p>
        <div class="field">
            <div class="control">
                <div id="newcomment-textarea">
                    <trumbowyg v-model="body" 
                        :config="config" class="form-control" 
                        placeholder="Add a comment..." required></trumbowyg>
                </div>
                    
                <div v-if="errors" v-for="error in errors">
                    <div v-for="err in error">
                        <p class="help is-danger" v-text="err"></p>
                    </div>
                </div>

            </div>
        </div>

        <div class="has-text-right">
            <button type="button" class="button is-small" @click="addingImage=true">Add Image</button>
        </div>

        <div class="field is-size-7" v-if="addingImage">
            <p class="is-underline"><strong>Add Image</strong></p>
            <p class="is-size-7">
                <span class="is-red">NB: </span>Only jpg, jpeg, png, gif, svg images with max-size:4MB are allowed.
            </p>
            <div class="control is-size-7 m-b-5">
                <label for="image1">Select Image 1.</label>
                <input type="file" ref="file1" @change="handleFileUpload1" accept="image/*">
            </div>
            <div class="control is-size-7">
                <label for="image2">Select Image 2.</label>
                <input type="file" ref="file2" @change="handleFileUpload2" accept="image/*">
            </div>

                <!-- DISPLAY ERRORS -->
        </div>

        <div class="field">
            <div class="control">
                <button type="submit" :class="submitingClasses">
                    Comment
                </button>
            </div>
        </div>
    </form>

    <div class="has-text-centered" v-if="signedIn && ! isConfirmed">
        <p>Please confirm your email before you can Comment.</p>
        <p>If you didn't recieve any confirmation email 
            <a href="/email-not-confirmed">Click Here.</a>
        </p>
    </div>

    <p class="has-text-centered" v-if="locked">This News has been locked!</p>
</div>

</template>

<script>
    // import 'jquery.caret';
    // import 'at.js';
    import trumbowyg from 'vue-trumbowyg';
    import 'trumbowyg/dist/ui/trumbowyg.css';

    export default {
        components: {trumbowyg},
        props: ['newspath', 'news'],

        data() {
            return {
                body : '',
                errors: false,
                locked: this.news.locked,
                addingImage: false,
                isLoading: false,
                file1: '',
                file2: '', 
                config: {
                    autogrow: true,
                    autogrowOnEnter: true,
                    btns: [
                        ['strong', 'em', 'del'],
                        ['superscript', 'subscript'],
                        // ['formatting'],
                        // ['foreColor'],
                        ['link'],
                        ['insertImage'],
                        ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                        // ['horizontalRule']
                    ]
                }
            }
        },

        computed: {
            submitingClasses() {
                return [
                    'button is-link is-small', 
                    this.isLoading ? 'is-loading' : ''
                ];
            }
        },

        // mounted() {
        //     $('#body').atwho({
        //         'at': "@", 
        //         delay: 1000, 
        //         callbacks: {
        //             remoteFilter: function(query, callback) {
        //                 $.getJSON("/api/users", {username: query}, function(usernames) {
        //                     callback(usernames)
        //                 });
        //             }
        //         }
        //     });
        // },

        methods: {
            addComment() {
                // initialize the form data
                let formData = new FormData();
                // add the form data we need to submit
                formData.append('image1', this.file1);
                formData.append('image2', this.file2);
                formData.append('body', this.body);
                // make the request to the server
                this.isLoading = true;

                axios.post(this.newspath + '/comments', formData, 
                {
                    headers: {
                        'Content-type': 'multipart/form-data'
                    }
                })
                    .then(({data}) => {
                        this.body = '';
                        this.errors = false;
                        this.file1 = ''; 
                        this.file2 = '';
                        this.addingImage = false;
                        this.isLoading = false;
                        
                        this.$emit('created', data);
                    })
                    .catch(error => {
                        if(error.response) {
                            this.errors = error.response.data.errors; 
                            this.isLoading = false;  
                        } else if (error.request) {
                            flash('Network error. Please try again.', 'danger');
                            this.isLoading = false;
                        } else {
                            flash('An error has occured. Please try again.', 'danger');
                            this.isLoading = false;
                        }
                    });
            }, 

            handleFileUpload1() {
                this.file1 = this.$refs.file1.files[0];
            }, 

            handleFileUpload2() {
                this.file2 = this.$refs.file2.files[0];
            }
        }
    }
</script>

<style>
    #newcomment-textarea .trumbowyg-box, #newcomment-textarea .trumbowyg-editor {
        min-height: 70px !important;
    }
</style>