<template>
	
<nav class="pagination is-small" role="navigation" aria-label="pagination" v-if="shouldPaginate">
  <ul class="pagination-list">
  	<li v-show="prevUrl">
  		<a href="#" aria-label="Previous" class="pagination-previous" rel="prev" @click.prevent="page--">&laquo; Previous</a>
  	</li>
    <li v-show="nextUrl">
    	<a href="#" aria-label="Next" class="pagination-next" rel="next" @click.prevent="page++">Next &raquo;</a>
    </li>
  </ul>
</nav>

</template>

<script>
	export default {
		props: ['dataSet'], 

		data() {
			return {
				page: 1, 
				prevUrl: false, 
				nextUrl: false
			}
		}, 

		watch: {
			dataSet() {
				this.page = this.dataSet.current_page;
				this.prevUrl = this.dataSet.prev_page_url;
				this.nextUrl = this.dataSet.next_page_url;
			}, 
			page() {
				this.broadcast().updateUrl();
			}
		},

		computed: {
			shouldPaginate() {
				return !! this.prevUrl || !! this.nextUrl;
			}
		},

		methods: {
			broadcast() {
				this.$emit('updated', this.page);

				return this;
			}, 

			updateUrl() {
				history.pushState(null, null, '?page=' + this.page);
			}
		}
	}
</script>