<template>
	<div :id="'reply-'+reply.id" class="m-10 has-border">
		<div class="media has-border-top-bottom p-5">
			<figure class="media-left">
				<p class="image is-32x32">
					<a :href="'/'+reply.owner.username">
						<img :src="avatar" alt="">
					</a>
				</p>
			</figure>
			<div class="media-content">
				<div class="level is-marginless is-mobile">
					<div class="level-left">
						<span class="is-size-7">
							<strong>
								<a :href="'/'+reply.owner.username">
									{{ reply.owner.username }}
								</a><span>({{ reply.owner.reputation }} xp)</span>
							</strong><br>
						</span>
					</div>
					
					<div class="level-right">
						<span class="is-size-7">
							<strong v-text="ago"></strong>
						</span>
					</div>
					
				</div>
					<span class="is-size-7">
						<strong v-text="reply.owner.title"></strong>
					</span>
					
			</div>
		</div> <!-- end of media -->

			<!-- EDITING THE REPLY -->
		<div class="p-10" v-if="editing">
			<form @submit.prevent="update" enctype="multipart/form-data">
				<div id="reply-textarea">
					<trumbowyg v-model="body" :config="config" class="form-control" required></trumbowyg>
				</div>

				<div class="has-text-right">
		            <button type="button" class="button is-small" @click="changingImage=true">
		            	Add/Change Image
		            </button>
		        </div>

				<div class="field is-size-7" v-if="changingImage">
		            <p class="is-underline"><strong>Add/Change Image</strong></p>
		            <p class="is-size-7">
		                <span class="is-red">NB: </span>Only jpg, jpeg, png, gif, svg images with max-size:4MB are allowed.
		            </p>
		            <div class="control is-size-7 m-b-5">
		                <label for="image1">Add/Change Image 1.</label>
		                <input type="file" ref="file1" @change="handleFileUpload1" accept="image/*">
		            </div>
		            <div class="control is-size-7">
		                <label for="image2">Add/Change Image 2.</label>
		                <input type="file" ref="file2" @change="handleFileUpload2" accept="image/*">
		            </div>

		            <div class="control" v-if="isAdmin" v-cloak>
						<label class="checkbox has-text-danger">
	                        <input type="checkbox" name="delete_image1" v-model="delete_image1"> 
	                        Delete Image 1
	                    </label>
	                    <label class="checkbox has-text-danger">
	                        <input type="checkbox" name="delete_image2" v-model="delete_image2"> 
	                        Delete Image 2
	                    </label>
					</div>

		        </div>

				<div v-if="errors" v-for="error in errors">
                    <div v-for="err in error">
                        <p class="help is-danger" v-text="err"></p>
                    </div>
                </div>

				<button type="submit" :class="submitingClasses" @click="update">Update</button>
				<button type="button" class="button is-small is-danger" @click="cancel">Cancel</button>
			</form>
		</div> <!-- END OF EDITING -->

			<!-- SHOWING THE REPLY -->
		<div class="p-10" v-else>
			<p class="is-size-6 m-b-20" v-html="body"></p>
			<p class="has-text-centered" v-if="reply.image1"><img :src="reply.image1" alt=""></p>
			<p class="has-text-centered" v-if="reply.image2"><img :src="reply.image2" alt=""></p>
		</div>

		<div class="is-size-7 has-border-top p-5">
			<span class="p-l-10" v-text="likesCount"></span>
			<span class="p-l-20" v-text="dislikesCount"></span>
		</div>

		<div class="level is-marginless has-border-top-bottom is-size-7" v-if="signedIn">
			<div class="level-left m-0 p-t-5">
				<like :model="reply" @liked="likeCounter"
					:model-route="'/replies/'"
					:like-type="'Like'"
					:dislike-type="'Dislike'">
				</like>
			</div>
			<div class="level-right m-0">
				<span v-if="! editing && authorize('owns', reply)">
					<a class="button is-small is-link is-outlined m-l-5 m-r-5 p-b-5" 
						@click.prevent="editing = true">Edit</a>
					<a :class="deletingClasses" @click.prevent="destroy">Delete</a>
				</span>
				<a :href="/replies-report/ + reply.id" class="button is-small is-danger is-outlined m-r-5">Report</a>
			</div> 
		</div>

		<div class="p-5" v-if="isAdmin">
			<a class="button is-small is-outlined is-danger" 
				@click.prevent="block" v-if="! reply.blocked">
				Block
			</a>
			<a class="button is-small is-outlined is-danger" @click.prevent="unblock" v-else>
				Unblock
			</a>
		</div> <!-- End of showing -->

	</div>
</template>

<script>
	import Like from './Like';
	import moment from 'moment';
	import trumbowyg from 'vue-trumbowyg';
	import 'trumbowyg/dist/ui/trumbowyg.css';

	export default {
		components : {Like, trumbowyg},

		props: ['replydata'], 

		data () {
			return {
				reply : this.replydata,
				body : this.replydata.body,
				likes: this.replydata.likes_count,
				dislikes: this.replydata.dislikes_count,
				avatar: this.replydata.owner.avatar,
				delete_image1: false,
				delete_image2: false,  
				editing : false,
				changingImage: false,
				isLoading: false,
				errors: false, 
				file1: '',
				file2: '',
				config: {
					autogrow: true,
					autogrowOnEnter: true,
					btns: [
						['strong', 'em', 'del'],
						['superscript', 'subscript'],
						// ['formatting'],
						// ['foreColor'],
						['link'],
						['insertImage'],
						['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
						// ['horizontalRule']
					]
				}
			}
		}, 
		computed: {
			ago() {
				return moment(this.replydata.created_at).fromNow();
			},
			likesCount() {
				if(this.likes != 1) {
					return this.likes + ' Likes';
				} else {
					return this.likes + ' Like';
				}
			}, 

			dislikesCount() {
				if(this.dislikes != 1) {
					return this.dislikes + ' Dislikes';
				} else {
					return this.dislikes + ' Dislike';
				}
			},

			submitingClasses() {
                return [
                    'button is-link is-small', 
                    this.isLoading ? 'is-loading' : ''
                ];
            },

            deletingClasses() {
                return [
                    'button is-small is-danger is-outlined m-r-5', 
                    this.isLoading ? 'is-loading' : ''
                ];
            }			
		},

		methods: {
			update() {
				// initialize the form data
                let formData = new FormData();
                // add the form data we need to submit
                formData.append('image1', this.file1);
                formData.append('image2', this.file2);
                formData.append('body', this.body);
                formData.append('delete_image1', this.delete_image1);
                formData.append('delete_image2', this.delete_image2);
                // make the request to the server
                this.isLoading = true;

				axios.post('/update-replies/' + this.reply.id, formData, 
                {
                    headers: {
                        'Content-type': 'multipart/form-data'
                    }
                })
                .then(({data}) => {
                	this.reply = data;
                	this.body = data.body;
                	this.likes = data.likes_count;
                	this.dislikes = data.dislikes_count;
                	this.editing = false;
                	this.errors = false;
                	this.changingImage = false;
                	this.file1 = ''; 
                    this.file2 = '';
                    this.delete_image1 = false;
                    this.delete_image2 = false;
                    this.isLoading = false;

					flash('Reply Updated');
                })
				.catch(error => {
                    if(error.response) {
                        this.errors = error.response.data.errors;
                        this.isLoading = false;
                    } else if (error.request) {
                        flash('Network error. Reply not updated try again.', 'danger');
                        this.isLoading = false;
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                        this.isLoading = false;
                    }
                });
			},

			handleFileUpload1() {
                this.file1 = this.$refs.file1.files[0];
            }, 

            handleFileUpload2() {
                this.file2 = this.$refs.file2.files[0];
            },

			destroy() {
				let confirmDelete = confirm('Are you sure you want to delete reply');
				if ( ! confirmDelete ) 
				{
					return;
				}

				this.isLoading = true;

				axios.delete('/replies/' + this.reply.id)
				.then(() => {
					this.$emit('deleted', this.reply.id);

					this.isLoading = false;
				})
				.catch(error => {
                    if(error.response) {
                        flash('Network error. Reply not deleted, try again.', 'danger');
                        this.isLoading = false;
                    } else if (error.request) {
                        flash('Network error. Reply not deleted, try again.', 'danger');
                        this.isLoading = false;
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                        this.isLoading = false;
                    }
                });				
			},
			likeCounter(count) {
				this.likes = count[0];
				this.dislikes = count[1];
			}, 
			cancel() {
				this.body = this.reply.body;
				this.editing = false;
			}, 
			block() {
				axios.post('/blocked-replies/' + this.reply.id)
					.then(() => {
						this.reply.blocked = true;
					})
					.catch(error => {
                    if(error.response) {
                        flash('Error. Please reload the page.', 'danger');
                    } else if (error.request) {
                        flash('Network error. Please try again.', 'danger');
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                    }
                });
			}, 
			unblock() {
				axios.delete('/blocked-replies/' + this.reply.id)
					.then(() => {
						this.reply.blocked = false;
					})
					.catch(error => {
                    if(error.response) {
                        flash('Error. Please reload the page.', 'danger');
                    } else if (error.request) {
                        flash('Network error. Please try again.', 'danger');
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                    }
                });
			},
		}
	}
</script>

<style>
	#reply-textarea .trumbowyg-box, #reply-textarea .trumbowyg-editor {
		min-height: 100px !important;
	}
</style>