<template>
	<div>
		<p class="is-size-5 has-border-bottom has-text-centered" v-if="replies.length">Replies</p>
		<div v-for="(reply, index) in replies" :key="reply.id">
			<reply :replydata="reply" @deleted="remove(index)"></reply>
		</div>

		<paginator :dataSet="dataSet" @updated="fetch"></paginator>

		<new-reply :threadpath="threadpath" :thread="thread" @created="add"></new-reply>
	</div>
</template>

<script>
	import Reply from './Reply';
	import NewReply from './NewReply';

	export default {
		components : {Reply, NewReply},
		props: ['threadpath', 'thread'],

		data() {
			return {
				dataSet : false,
				replies : []
			}
		},

		created() {
			this.fetch();
		}, 

		methods: {
			fetch(page) {
				axios.get(this.url(page))
					.then(this.refresh)
					.catch(error => {
                        if(error.response) {
                            flash('Error. Please reload the page.', 'danger');
                        } else if (error.request) {
                            flash('Network error. Please try again.', 'danger');
                        } else {
                            flash('An error has occured. Please try again.', 'danger');
                        }
                    });
			},

			url(page) {
				if (! page) {
					let query = location.search.match(/page=(\d+)/);

					page = query ? query[1] : 1;
				}
				return this.threadpath + '/replies?page=' + page;
			},

			refresh({data}) {
				this.dataSet = data;
				this.replies = data.data;

				window.scrollTo(0, 0);
			}, 

			add(reply) {
				this.replies.push(reply);

				this.$emit('added');

				flash('Reply has been added successfully');
			}, 
			remove(index) {
				this.replies.splice(index, 1);

				this.$emit('removed');

				flash('Reply has been deleted!');
			}
		}

	}
</script>