<template>
	<div>
		<p class="is-size-5 has-border-bottom has-text-centered" v-if="responses.length">Comments</p>
		<div v-for="(response, index) in responses" :key="response.id">
			<response :responsedata="response" @deleted="remove(index)"></response>
		</div>

		<paginator :dataSet="dataSet" @updated="fetch"></paginator>

		<new-response :statuspath="statuspath" :status="status" @created="add"></new-response>
	</div>
</template>

<script>
	import Response from './Response';
	import NewResponse from './NewResponse';

	export default {
		components : {Response, NewResponse},
		props: ['statuspath', 'status'],

		data() {
			return {
				dataSet : false,
				responses : []
			}
		},

		created() {
			this.fetch();
		}, 

		methods: {
			fetch(page) {
				axios.get(this.url(page))
					.then(this.refresh)
					.catch(error => {
                        if(error.response) {
                            flash('Error. Please reload the page.', 'danger');
                        } else if (error.request) {
                            flash('Network error. Please try again.', 'danger');
                        } else {
                            flash('An error has occured. Please try again.', 'danger');
                        }
                    });
			},

			url(page) {
				if (! page) {
					let query = location.search.match(/page=(\d+)/);

					page = query ? query[1] : 1;
				}
				return this.statuspath + '/responses?page=' + page;
			},

			refresh({data}) {
				this.dataSet = data;
				this.responses = data.data;

				window.scrollTo(0, 0);
			}, 

			add(response) {
				this.responses.push(response);

				this.$emit('added');

				flash('Comment has been added successfully');
			}, 
			remove(index) {
				this.responses.splice(index, 1);

				this.$emit('removed');

				flash('Comment has been deleted!');
			}
		}

	}
</script>