<template>
	<span>
		<a class="button is-small is-outlined is-link m-r-5" @click.prevent="unsubscribe" v-if="isSubscribedTo">Unsubscribe</a>
		<a class="button is-small is-outlined is-link m-r-5" @click.prevent="subscribe" v-else>Subscribe</a>
	</span>
</template>

<script>
	export default {
		props: ['data', 'modelpath'], 

		data() {
			return {
				isSubscribedTo: this.data
			}
		}, 

		methods: {
			subscribe() {
				axios.post(this.modelpath + '/subscriptions');

				this.isSubscribedTo = true;
			}, 
			unsubscribe() {
				axios.delete(this.modelpath + '/subscriptions')
				.then(() => {
					this.isSubscribedTo = false;
				})
				.catch(error => {
                    if(error.response) {
                        flash('Error. Please reload the page.', 'danger');
                    } else if (error.request) {
                        flash('Network error. Please try again.', 'danger');
                    } else {
                        flash('An error has occured. Please try again.', 'danger');
                    }
                });	
			}
		}
	}
</script>