<template>
	<div>
		<div  v-if="isMobile" v-cloak>
			<a href="/notifications">
			    <span class="is-size-5">
			        <i class="fa fa-bell">
			        	<sup class="notifications-count" v-if="notifications.length" v-text="counts">
			        	</sup>
			        </i>
			    </span>
			</a>
		</div>
		<div class="dropdown is-clickable m-r-20 is-right" v-else v-cloak>
			<div class="dropdown-trigger">
			    <span class="is-size-5">
			        <i class="fa fa-bell">
			        	<sup class="notifications-count" v-if="notifications.length" v-text="counts">
			        	</sup>
			        </i>
			    </span>
			</div>
			<div class="dropdown-menu" role="menu">
			    <div class="dropdown-content">
			    	<div v-for="notification in notifications" :key="notification.id">
				        <a :href="notification.data.link" 
				        	class="dropdown-item" 
				        	@click="markAsRead(notification)">
				        	{{ notification.data.message.substring(0, 50) }}
			        	</a>
			        </div>
		        	<p class="dropdown-item" v-if="! notifications.length">No new notification</p>
			        <hr class="dropdown-divider">
			        <a href="/notifications" class="dropdown-item">View All Notifications</a>
			    </div>
			</div>
		</div>
	</div>

</template>

<script>
	export default {
		data() {
			return {
				notifications: false,
				counts: '', 
				isMobile: ''
			}
		}, 

		created() {
			this.checkDevice();

			axios.get('/' + window.App.username + '/notifications')
				.then(response => {
					this.notifications = response.data[0];
					this.counts = response.data[1];
				});
		},

		methods: {
			markAsRead(notification) {
				axios.delete('/notifications/' + notification.id);

				// look for how to group the notifications together
			}, 

			checkDevice() {
	    		if(window.innerWidth < 760) {
	    			return this.isMobile = true;
	    		} else {
	                return this.isMobile = false;
	            }
	    	}
		}
	}
</script>