$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need. 
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
	@each $side in $sides {
		.m-#{str-slice($side, 0, 1)}-#{$space} {
			margin-#{$side}: #{$space}px;
		}

		.p-#{str-slice($side, 0, 1)}-#{$space} {
			padding-#{$side}: #{$space}px;
		}
	}

	.p-#{$space} {
		padding: #{$space}px !important;
	}
	.m-#{$space} {
		margin: #{$space}px !important;
	}
}

// extra helpers
.d-flex {
	display: flex;
}

.white-nowrap {
	white-space: nowrap;
}

.is-underline {
	text-decoration: underline;
}
.has-border {
	border: 1px solid #ccc;
}
.has-border-top {
	border-top: 1px solid #ccc;
}
.has-border-bottom {
	border-bottom: 1px solid #ccc;
}
.has-border-bottom-2 {
	border-bottom: 2px solid #ccc;
}
.has-border-top-bottom {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.has-border-left-right {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.has-border-circle {
	border-radius: 50%;
}
.has-margin-auto {
	margin: auto;
}

// colors
.is-red {
	color: red;
}
.is-darkgreen {
	color: #006622 !important;
}
.is-darkblue {
	color: #0073b1;
}
.is-white-background {
	background-color: #fff;
}