// bulma variables overides


body {
	background-color: #eee;
	font-family: sans-serif;
}

.flash-alert {
	position: fixed;
	right: 5%;
	bottom: 25px;
	z-index: 10000;
}

[v-cloak] {
	display: none;
}

input[type=checkbox] {
	margin: 5px;
    transform:scale(1.5, 1.5);
}

.is-upated-note {
	background-color: yellow;
	font-size: 12px;
}
.profile-image-thumbnail-32x32 {
	width: 32px;
	height: 32px;
}
.profile-image-thumbnail-50x50 {
	width: 50px;
	height: 50px;
}
.profile-image-thumbnail-100x100 {
	width: 100px;
	height: 100px;
}

#create-textarea .trumbowyg-box, #create-textarea .trumbowyg-editor {
	min-height: 200px !important;
}

.notifications-count {
  border-radius: 50%;
  background-color: red;
  font-size: 0.75rem;
  padding: 2px;
  color: white;
}

.marked-as-best-answer {
  color: #000; 
  background: #99ff99;
  opacity: 0.5;
}
.active-menu {
  border-bottom: 2px solid #28a745;
  background-color: #eee;
}