.nav-container {
	max-width: 1200px;
	min-width: 760px;
	margin: auto;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.is-nav {
	background-color: white;
}
.menu-left {
	display: flex;
	align-items: flex-start;
}
.menu-center {
	display: flex;
	align-items: center;
}
.menu-right {
	display: flex;
	align-items: flex-end;
}
.menu-item {
	padding: 10px 20px;
	text-decoration: none;
}
.menu-item:hover {
	background-color: #eee;
}
.submenu {
	display: flex;
	// justify-content: space-between;
	background-color: #ddd;
	margin: auto;
}
.submenu-item {
	padding: 5px 5px;
	text-decoration: none;
	background-color: #fff;
}
.submenu-item:hover {
	background-color: #eee;
}
