.mobile-nav-container {
	max-width: 760px;
	min-width: 300px;
	margin: auto;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.mobile-menu-item {
	padding: 5px 10px;
	text-decoration: none;
}

.mobile-menu-item:hover {
	background-color: #eee;
}